@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

/*
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Reset */

	html, body {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}
/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}


/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background-color: #005662; 
		background-size: cover;
		background-position: top center;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body, input, select, textarea {
		color:rgba(255, 255, 255, 0.65);
		font-family: "Fenix", serif;
		font-size: 12pt;
		font-weight: 200;
		line-height: 1.65;
	}
	p {
		font-family:"Lora", sans-serif;
		font-size:12pt;
	}
	h1  {
		font-style:oblique;
		font-size:25pt !important;
	}
	h3{
		font-size:16pt !important;
	}
	h4{
		font-style:oblique;
		font-size:18pt !important;
	}
	h5 {
		font-family:"Lora", sans-serif;
		font-size:15pt !important;
	}
	li {
		font-size:14pt !important;
	}
	
		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		color: inherit;
		text-decoration: none;
		border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
		-moz-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
	}

		a:hover {
			color: #ffffff;
			border-bottom-color: transparent;
		}

	strong, b {
		color: #ffffff;
		font-weight: 200;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 1em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #ffffff;
		font-weight: 200;
		line-height: 1.5;
		margin: 0 0 1em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

		@media screen and (max-width: 980px) {

			h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
				display: none;
			}

		}

	h1 {
		font-size: 1.75em;
	}

		@media screen and (max-width: 980px) {

			h1 {
				font-size: 1.5em;
			}

		}

		@media screen and (max-width: 736px) {

			h1 {
				font-size: 1.25em;
			}

		}

	h2 {
		font-size: 1.35em;
	}

		@media screen and (max-width: 736px) {

			h2 {
				font-size: 1em;
			}

		}

	h3 {
		font-size: 1em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px rgba(255, 255, 255, 0.25);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(255, 255, 255, 0.075);
		border-radius: 4px;
		border: solid 1px rgba(255, 255, 255, 0.25);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px rgba(255, 255, 255, 0.25);
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: rgba(255, 255, 255, 0.35);
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
	}


/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.style2 {
			-moz-transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			transition: all 0.2s ease;
			border-radius: 100%;
			display: inline-block;
			padding: 0.5em;
			border: solid 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
		}

			.icon.style2:before {
				display: block;
				width: 1.25em;
				height: 1.25em;
				line-height: 1.25em;
				font-size: 1.35em;
			}

			.icon.style2:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}

			@media screen and (max-width: 736px) {

				.icon.style2:before {
					font-size: 1em;
				}

			}

/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.imagefull{
			float:auto;
			margin-left:15%;
			width: 40%;
			height: 100;
			border-radius: 4px;
			display: block;
			text-align:center;
			margin: 0 auto;
		}
		.avatar {
		width: 400px;
		float: left;
		padding: 20px;
		margin: 0 auto;
		}

		/* FIX WRAPPER GRID*/
		.wrap-content {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			max-width: 1200px;
			margin: 0 auto;
			/* padding: 50px 0 50px 0; */
		}
		.col-6 {
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 25%;
		}
		
		@media screen and (max-width: 800px) {
			.wrap-content {
				flex-direction: column
    
			}
			.col-6 {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				width: 100%;
			}
			
 
		}
		

/* menu */		
#menu
	{
  
  overflow: hidden;
	}
	
	#menu ul
	{	
  		list-style-type: none;
		margin: 0 ;
		width: 80%;
	 	height: 100%;
	

	}
	#menu li
	{		
		  	
  			color: white;
  			padding: 1.5em 1.0em;
  			text-decoration: none;
	}
	
	#menu li a, #menu li span
	{display: block;
  		text-decoration: none;
		
		text-align: center;
		text-transform: uppercase;
  		
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{

  color: #e53935;
	}
	
	
/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px rgba(255, 255, 255, 0.25);
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

							ul.actions li > *.icon:before {
								margin-left: -2em;
							}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 200;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

		/* Poptrox */

	.poptrox-popup {
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 0.5em 3em 0 rgba(0, 0, 0, 0.25);
		border-radius: 4px;
		overflow: hidden;
	}

		.poptrox-popup .closer {
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			text-decoration: none;
			position: absolute;
			top: 1em;
			right: 1em;
			z-index: 2;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			white-space: nowrap;
			text-indent: 2.5em;
			overflow: hidden;
			width: 2.5em;
			height: 2.5em;
			display: block;
		}

			.poptrox-popup .closer:before {
				content: "ï€";
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			.poptrox-popup .closer:before {
				display: block;
				position: relative;
				text-indent: 0;
				border-radius: 100%;
				box-shadow: inset 0 0 0 1px #ffffff;
				color: #ffffff !important;
				width: 2.5em;
				height: 2.5em;
				line-height: 2.5em;
			}

		.poptrox-popup:hover .closer {
			opacity: 0.5;
		}

			.poptrox-popup:hover .closer:hover {
				opacity: 1.0;
			}
/* Thumbnails */

	.thumbnails {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		position: relative;
		margin: 0 0 2em -2em;
	}

		.thumbnails a {
			-moz-transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			transition: all 0.2s ease;
			border-bottom: none;
			display: block;
			width: 90%;
			margin: 0 13em 0;
			margin-bottom: 2em;
			text-align: center;
			border-radius: 4px;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
			cursor: pointer;
			outline: 0;
			overflow: hidden;
		}

			.thumbnails a img {
				display: block;
				width: 100%;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}

			.thumbnails a h3 {
				margin: 1em;
			}
			

			.thumbnails a:hover {
				background-color: rgba(255, 255, 255, 0.25);
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #FF6382;
			}

		.thumbnails > div {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			width: calc(70% / 3);
			padding-left: 2em;
		}

			.thumbnails > div > :last-child {
				margin-bottom: 0;
			}

		@media screen and (max-width: 1280px) {

			.thumbnails {
				margin: 0 0 2em -1.5em;
			}

				.thumbnails a {
					margin: 0 0 1.5em 0;
				}

				.thumbnails > div {
					padding-left: 1.5em;
				}

		}

		@media screen and (max-width: 980px) {

			.thumbnails h3 {
				font-size: 0.8em;
			}

		}

		@media screen and (max-width: 480px) {

			.thumbnails {
				display: block;
			}

				.thumbnails a {
					margin: 0 0 2em 0 !important;
				}

				.thumbnails > div {
					display: block;
					width: 100%;
				}

					.thumbnails > div:last-child > :last-child {
						margin-bottom: 0 !important;
					}

				.thumbnails h3 {
					font-size: 1em;
				}
	
		}
		

/* Wrapper */

	#wrapper {
		/* width: 64em;
		margin: 0 auto;
		max-width: calc(100% - 4em); */
		padding: 4em 0 2em 0;
		
		
	}
		#wrapper > .main {
			margin-bottom: 4em;
			overflow: hidden;
		
		}

		

		@media screen and (max-width: 980px) {

			#wrapper {
				padding: 2em 0 2em 0;
			}

				#wrapper > .main {
					margin-bottom: 2em;
				}

		}

		@media screen and (max-width: 736px) {

			#wrapper {
				max-width: calc(100% - 2em);
				padding: 1em 0 0.1em 0;
			}

				#wrapper > .main {
					margin-bottom: 1em;
				}

		}

/* Header */
#header {
		background-color: #444;
		color: rgba(255, 255, 255, 0.75);
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 8em 0 6em 0;
		background-image: url("../../images/pedina.jpeg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		text-align: center;
		position: relative;
		cursor: default;
	}

		#header input, #header select, #header textarea {
			color: #ffffff;
		}

		#header a {
			color: inherit;
		}

			#header a:hover {
				color: #d50000 !important;
			}

		#header strong, #header b {
			color: #ffffff;
		}

		#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
			color: #ffffff;
		}

		#header blockquote {
			border-left-color: #ffffff;
		}

		#header code {
			background: rgba(255, 255, 255, 0.075);
			border-color: #ffffff;
		}

		#header hr {
			border-bottom-color: #ffffff;
		}

		#header:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			
		}

			#header .avatar img {
				
				display: block;
				width: 7em;
				height: 3em;
				background-color: transparent;
			}
		#header h2 {
			margin-bottom: 0.5em;
		}

		#header .inner {
			position: relative;
			z-index: 1;
		}

		#header.alt {
			height: 20em;
			min-height: 20em;
			min-height: 75vh;
		}

			#header.alt:before {
				-moz-transition: background-color 1s ease;
				-webkit-transition: background-color 1s ease;
				-ms-transition: background-color 1s ease;
				transition: background-color 1s ease;
				-moz-transition-delay: 1s;
				-webkit-transition-delay: 1s;
				-ms-transition-delay: 1s;
				transition-delay: 1s;
			}

			#header.alt h2 {
				font-size: 4em;
				padding: 0 0.5em 0.25em 0.5em;
				font-weight: 200;
				font-family: "Pacifico", cursive;
				text-transform: none;
				letter-spacing: 0;
			}

			#header.alt p {
				text-transform: uppercase;
				letter-spacing: 0.325rem;
				font-weight: 400;
				font-size: 0.8em;
				padding: 0 1.25em;
			}

			#header.alt .inner {
				-moz-transition: opacity 2s ease;
				-webkit-transition: opacity 2s ease;
				-ms-transition: opacity 2s ease;
				transition: opacity 2s ease;
				opacity: 1;
			}

		body.is-loading #header.alt:before {
			background-color: black;
		}

		body.is-loading #header.alt .inner {
			opacity: 0;
		}

		@media screen and (max-width: 1280px) {

			#header {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 736px) {

			#header {
				padding: 4em 2em 2em 2em;
			}

				#header.alt h2 {
					font-size: 2.5em;
					padding-left: 0;
					padding-right: 0;
				}

				#header.alt p {
					padding: 0;
				}

				#header.alt .inner {
					max-width: 20em;
				}

		}
		
		#toggle-menu{display:none}

	/* Nav */                                                                           */

	#nav 
	{   
		position: absolute;
		float: left;
		
	}
			#nav >  a
			
			{	
  				border: none;
  				color: #FFF;
  				margin-left: 2.0em;
  				padding: 1.2em 1.2em;
 				letter-spacing: 0.06em;
  				text-align: center;
  				text-decoration: none;
  				display: inline-block;
  				font-size: 1.2em;
				cursor: pointer;
				text-transform: uppercase;	
			}



/* Footer */

	#footer {
		text-align: center;
		padding: 4em 0 4em 0;
	}

		#footer:before {
			content: '';
			border-top: solid 1px rgba(255, 255, 255, 0.25);
			width: 10em;
			display: block;
			margin: 0 auto 3em auto;
		}

		@media screen and (max-width: 1280px) {

			#footer {
				padding: 2em 0 2em 0;
			}

		}
	